<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title  %> </title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <link rel="stylesheet" href="/style.css">
</head> 
<body>
    <div id="app">
        <div class="card">
            <h2>To do:</h2>
            <ul>
                 <li v-for="(item, index) in list" :key="(item,index)"  :class="{done__css: item.done, rmv: item.isRemoved}" > 
                    <p>{{item.title}}</p>
                    <span :class="{spanDone: item.done}">DONE</span>
                    <div class="btns">
                    <small class="done" @click="finish(item,index)" :class="{btnDone: item.done, rmvd: item.isRemoved}">&#x2713;</small>
                    <small class="remove" @click="remove(item,index)" :class="{removed: item.isRemoved}">&#xff38;</small>
                    </div>
                 </li>
            </ul>
            <form action="/goals" method="POST">
              <input type="text" placeholder="Add new goal...." v-model="nuItem" name="title" autofocus>
            </form>
              </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/vue.js"></script>
</body>
</html>
